* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    color: rgb(121, 63, 63);
    font-variant: small-caps;
}

h2 {
    font-size: 35px;
    font-weight: 800;
    font-variant: small-caps;
    color: azure;
    background-color: rgb(243, 206, 160);
    padding: 10px;   
    margin: 5px;
}

img {
    height: auto;
    width: 500px;
    padding-left: 10px;
}

.steps > li {
    padding: 10px;
    border: 1px solid black;
}

.description {
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
}

.ingredients > li {
    margin: -3px;
}
